__pycache__/
*.py[cod]
*$py.class
venv/
.env
.DS_Store
*.db
*.sqlite
*.sqlite3
breast_idc_resnet50_best_state_dict.pth
static/uploads/*
.vercel/
npm-debug.log
IDC dataset/
verify_*.py
debug_*.py
idcdetect.db
test_sample.png
IDC_classification.ipynb
